<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="file/header :: header">
</head>
<body>

<div class="container" >
    <h2 th:text="下载所需要的文件" style="text-align: center;color: #76E2F8"></h2>
    <div th:each="filename : ${fileName}" style="background-color: rgba(118, 226, 248, 0.4);text-align: center;">
        <div>
            <a th:href="@{'/upload/' + ${filename}}" th:text="${filename}" style="color: lightseagreen"></a>
        </div>
        <br/>
    </div>
</div>


<div th:replace="file/background :: file_background"></div>
</body>
</html>